@model IEnumerable<BusinessLayer.DTOs.JobApplicationDto>

@{
    ViewBag.Title = "Index";
}

<h2>My job applications</h2>

<table class="table">
    <tr>
        <th>
           Job name
        </th>
        <th>
           Job description
        </th>
        <th>
            Employer
        </th>
        <th>
            Status
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.JobOffer.Name, "Details", "JobApplication", new { id=item.Id }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobOffer.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobOffer.Employer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
    </tr>
}

</table>
